        body {
            font-family: 'Titillium Web', sans-serif;
            background-color: #fff;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .fhs-container {
            max-width: 1200px;
            width: 90%;
            padding: 8% 0!important;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
        }
        .fhs-title {
            font-size: 38px!important;
            font-weight: 600;
            margin-bottom: 20px;
            color: #004d40;
            line-height:1;
        }
        .fhs-breadcrumb {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            padding: 10px;
            background-color: #ffffff;
            border: 1px solid #ddd;
            border-radius: 4px;
            color: #333;
            font-size: 16px;
            font-weight: 400;
        }
        .fhs-breadcrumb a {
            color: #007bff;
            text-decoration: none;
            margin: 0 5px; /* Adjusted margin for tighter spacing */
            transition: color 0.3s ease;
        }
        .fhs-breadcrumb a:hover {
            text-decoration: underline;
            color: #0056b3;
        }
        .fhs-breadcrumb .fhs-separator {
            color: #6c757d;
            margin: 0 5px; /* Adjusted margin for tighter spacing */
        }
        .fhs-button {
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            color: white;
            cursor: pointer;
            font-size: 16px;
            padding: 12px 24px;
            margin-bottom: 20px;
            display: block;
            text-align: center;
            transition: background-color 0.3s ease;
            outline: none;
        }
        .fhs-button:hover {
            background-color: #0056b3;
        }
        .fhs-file-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .fhs-file-list li {
            display: flex;
            align-items: center;
            margin: 15px 0;
            padding: 15px;
            background: #ffffff;
            border: 1px solid #ddd;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }
        .fhs-file-list li:hover {
            background-color: #e9f5ff;
        }
        .fhs-material-icons {
            margin-right: 15px;
            font-size: 24px;
            color: #007bff;
            font-family: 'Material Icons';
        }
        .fhs-file-list a {
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
            flex: 1;
        }
        .fhs-file-list a:hover {
            text-decoration: underline;
        }
        .fhs-file-info {
            font-size: 14px;
            color: #6c757d;
            margin-left: 15px;
            display: flex;
            align-items: center;
        }
        .fhs-file-size {
            margin-right: 10px;
        }
        .fhs-file-type {
            font-size: 14px;
            color: #6c757d;
        }

        /* Footer styling */
        .fhs-footer {
            margin-top: 20px;
            font-size: 14px;
            color: #6c757d;
            text-align: center;
        }

        /* Credit styling */
        .fhs-credit {
            margin-top: 20px;
            font-size: 14px;
            color: #333;
            padding: 15px;
            background: #ffffff;
            border: 1px solid #ddd;
            border-radius: 4px;
            text-align: center;
        }
        .fhs-credit a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }
        .fhs-credit a:hover {
            text-decoration: underline;
        }

        /* Dark Mode Styles */
        body.dark-mode {
            background-color: #010409;
            color: #fff;
        }

        body.dark-mode .fhs-breadcrumb,
        body.dark-mode .fhs-file-list li,
        body.dark-mode .fhs-credit,
        body.dark-mode .fhs-dark-mode-toggle {
            background-color: #0d1017;
            border-color: #1f242a;
            color: #fff;
        }

        body.dark-mode .fhs-breadcrumb a,
        body.dark-mode .fhs-file-list a {
            color: #1e90ff!important;
        }

        body.dark-mode .fhs-breadcrumb .fhs-separator,
        body.dark-mode .fhs-file-info,
        body.dark-mode .fhs-file-size,
        body.dark-mode .fhs-file-type,
        body.dark-mode .fhs-footer,
        body.dark-mode .fhs-credit,
        body.dark-mode .fhs-title{
            color: #fff;
        }

        body.dark-mode .fhs-file-list li:hover {
            background-color: #21262c;
        }

        .fhs-dark-mode-toggle {
            margin-bottom: 20px;
            padding: 8px;
            background: #ffffff;
            border: 1px solid #ddd;
            border-radius: 4px;
            text-align: center;
            font-size: 14px;
            color: #333;
        }
        .fhs-dark-mode-toggle label {
            cursor: pointer;
        }
        .fhs-dark-mode-toggle input {
            margin-right: 10px;
        }

        /* Responsive design */
        @media (max-width: 768px) {
            .fhs-title {
                font-size: 24px;
            }
            .fhs-container {
                padding: 20px;
            }
            .fhs-button {
                font-size: 14px;
                padding: 10px 20px;
            }
            .fhs-breadcrumb {
                font-size: 14px;
            }
            .fhs-file-list li {
                padding: 12px;
            }
        }
